.chat-window {
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-radius: 8px;
  overflow: hidden;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
}

.messages::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
