.message {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  border-radius: 30px;
  align-items: center;
  max-width: 75%;
}

.sent {
  align-self: flex-end;
  background-color: #a4d4fb;
  margin-left: auto;
}

.received {
  align-self: flex-start;
  background-color: #f0f0f0;
  margin-right: auto;
}

.avatar {
  margin-right: 10px;
}

.message-content {
  display: block;
  align-items: center;
}

.timestamp {
  display: block;
  font-size: 0.75rem;
  color: #888;
  text-align: end;
}
